@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="/img/me2021small.jpeg" class="rounded" alt="me-small">
    <p class="m-3">Hi, my name is Amir Kouretchian, and this is my little corner of the web.</p>
</div>
<dl>
    <dt>
        <a asp-area="" asp-controller="Home" asp-action="ReactTODOs" >React TODO App</a>
    </dt>
    <dd>I built a simple 'todos' app using React from scratch (aka not using any generators or templates from dotnet) as a refresher on how tools like webpack, babel, .net MVC, and React play together.</dd>
    <dt>
        <a asp-area="" asp-controller="Home" asp-action="MathService">Hit a math service hosted on azure!</a>
    </dt>
    <dd>I wanted to play around with a simple web api service hosted on Azure and integrate with it here on my page to see what's changed with .net, web services, and Azure hosting in general ... I'm happy to say, it was pretty quick-and-painless for the most part.</dd>
</dl>
</div>