@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="/img/me2021small.jpeg" class="rounded" alt="me-small">
    <p>Hi, my name is Amir Kouretchian, and this is my little corner of the web.</p>
</div>
