@model MathServiceViewModel;
@using Microsoft.Extensions.Hosting;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env;

@{
    ViewData["Title"] = "Math Service Fun";
}

<h1 class="text-center">Math Service</h1>
<hr>
<h3 class="text-left">Addition Service</h3>
<p>
    Enter a comma-delimited list of numbers to submit a request to a simple math service that returns the sum of said
    numbers.
</p>
<div className="row justify-content-center mb-2">
    <div className="col-lg-6">
        <div id="alert-danger" class="alert alert-danger" role="alert" style="display:none;">
            The following error was encountered: @Model.Error
        </div>

        <div id="alert-success" class="alert alert-success" role="alert" style="display:none;">
            @Model.Success
        </div>

        <div class="input-group mb-3">
            <input name="additionInput" id="addition-input" autofocus type="text" class="form-control"
                placeholder="Enter a comma-delimited list of numbers"
                aria-label="Enter a comma-delimited list of numbers">
            <div class="input-group-append">
                <button id="submit-button" class="btn btn-outline-secondary btn-primary">Sum it up!</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i>Loading ...</i>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="/js/math-service/index.js"></script>
}
