@model MathServiceViewModel;
@using Microsoft.Extensions.Hosting;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env;

@{
    ViewData["Title"] = "Math Service Fun";
}

<h1 class="text-center">Math Service</h1>
<hr>
<h3 class="text-left">Addition Service</h3>
<p>
    Enter a comma-delimited list of numbers to submit a request to a simple math service that returns the sum of said
    numbers.
</p>
<div className="row justify-content-center mb-2">
    <div className="col-lg-6">

        @if (!String.IsNullOrEmpty(Model.Error))
        {
            <div id="alert-danger" class="alert alert-danger" role="alert">
                The following error was encountered: @Model.Error
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.Success))
        {
            <div id="alert-success" class="alert alert-success" role="alert" >
                @Model.Success
            </div>
        }

        <form asp-controller="Home" asp-action="MathServiceSubmit" method="post">
            <div class="input-group mb-3">
                <input name="additionInput" id="addition-input" autofocus type="text" class="form-control"
                    placeholder="Enter a comma-delimited list of numbers"
                    aria-label="Enter a comma-delimited list of numbers">
                <div class="input-group-append">
                    <input type="submit" id="submit-button" class="btn btn-outline-secondary btn-primary"
                        value="Sum it up!" />
                </div>
            </div>
        </form>
    </div>
</div>
@* <script>
    (function(window){

    // bootstrap the service url to the page so we can pick it up
    // later in our scripts for ajax calls to the math service
    window.mathServiceUrl = "@Model";
    })(window);
    </script>

    @section Scripts{
    <script src="/js/math-svc.js"></script>
    } *@